<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PolicyBazaar Suite">

    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.policybazaar.tests.TC02_verifyCountrySelection"/>
            <class name="com.policybazaar.tests.TC04_verifyTravellerSelection"/>
            <class name="com.policybazaar.tests.TC05_verifyAgeInput"/>
        </classes>
    </test>

</suite>
